<div id="access-lastmod" class="post">
    <div class="panel-heading"><span style="color:#da8b8b">❤&ensp;</span>Visitor Counter</div>
    <ul class="post-content pl-0 pb-1 ml-1 mt-2">
        <li>
            <a href="https://hits.seeyoufarm.com">
                <style>
                    .hits {
                        width: auto;
                        height: auto;
                        max-width: 140px;
                        max-height: 60px;
                    }
                </style>
                <img alt="방문수" class="hits"
                    src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fgyeongminsu.github.io&count_bg=%23868686&title_bg=%23353535&icon=openstreetmap.svg&icon_color=%23FFFFFF&title=Visitors&edge_flat=false" />
            </a>
        </li>
</div>